<section id="request">
  <div class="row mt-3 mb-3" *ngIf="item.name">
    <div class="col-lg-12">
      <div style="display:flex">
        <div  style="flex:1;display:flex" (click)="show_description=!show_description">
          <div style="width:20px">
            <span [ngClass]="{'ion-arrow-down-b':show_description,'ion-arrow-right-b':!show_description}"></span>
          </div>
            <p>
              <strong>{{item.name}}</strong>
            </p>
        </div>
        <div style="flex: 0 0 30px">
          <a id="update-request-in-collection" (click)="onWiki()">Wiki </a>
        </div>
      </div>
      <div style="margin-left:20px" *ngIf="show_description">
        <p class="description">{{item.description}}</p>
      </div>


    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div style="display:flex;">
        <div style="flex:1">
          <div class="input-group ">
            <div class="input-group-btn">

              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                (click)="methodDrop= !methodDrop">
                {{method}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" [style.display]="methodDrop?'block':'none'" (click)="methodDrop=false">
                <li>
                  <a (click)="method='GET'">GET</a>
                </li>
                <li>
                  <a (click)="method='POST'">POST</a>
                </li>
                <li>
                  <a (click)="method='PUT'">PUT</a>
                </li>
                <li>
                  <a (click)="method='PATCH'">PATCH</a>
                </li>
                <li>
                  <a (click)="method='DELETE'">DELETE</a>
                </li>
              </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" [(ngModel)]="request.url" class="form-control" placeholder="Enter request URL here" aria-label="...">


          </div>
          <!-- /input-group -->
        </div>
        <div style="flex:0 0 121px;margin-left: 5px;">
          <button class="btn btn-primary" type="button" data-complete-text="Send request" id="submit-request" tabindex="5" (click)="onSend()">
            Send </button>
          <button class="btn" id="update-request-in-collection" (click)="onSave()">Save </button>
        </div>
      </div>
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->



  <div class="row">
    <div class="col-lg-12" style="    padding-right: 20px;    padding-left: 20px;">
      <ul class="nav nav-tabs">
        <li role="presentation" [ngClass]="{'active':display_request == 'header'}">
          <a (click)="display_request='header'">Header</a>
        </li>
        <li role="presentation" [ngClass]="{'disabled':!body,'active':display_request == 'body'}">
          <a (click)="display_request='body'">Body</a>
        </li>
      </ul>
      <div id="request-header" *ngIf="display_request=='header'">
        <request-header [header]="header"></request-header>
      </div>
      <div id="request-body" *ngIf="display_request=='body'">
        <div class="button-bar mt-2 mb-2" style="margin:0 auto;">
          <div class="button-bar__item">
            <input type="radio" name="mode" value="formdata" [(ngModel)]="mode">
            <button class="button-bar__button">form-data</button>
          </div>
          <div class="button-bar__item">
            <input type="radio" name="mode" value="urlencoded" [(ngModel)]="mode">
            <button class="button-bar__button">x-www-form-urlencoded</button>
          </div>
          <div class="button-bar__item">
            <input type="radio" name="mode" value="raw" [(ngModel)]="mode">
            <button class="button-bar__button">raw</button>
          </div>
        </div>

        <request-formdata [formdata]="formdata" *ngIf="mode=='formdata'"></request-formdata>
        <request-urlencoded [urlencoded]="urlencoded" *ngIf="mode=='urlencoded'"></request-urlencoded>
        <request-raw [raw]="raw" *ngIf="mode=='raw'"></request-raw>
      </div>
    </div>
  </div>








</section>