<split direction="horizontal" (dragEnd)="onDragEnd($event)">
  <split-area [size]="size[0]">
    <div>
      <div id="header" class="clearfix">
      </div>
      <div class="clearfix">
        <div>
          <div class="tab-pane active" id="sidebar-section-history">
            <app-collection>

            </app-collection>
          </div>
          <div class="tab-pane active" id="sidebar-section-collections">
            <ul id="history-items" class="clearfix">
            </ul>
          </div>
        </div>
      </div>
      <div id="sidebar-filler"></div>
    </div>
  </split-area>
  <split-area [size]="size[1]">
    <app-builder></app-builder>
  </split-area>
</split>