<table class="table" style="padding:5px">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Description</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="key-value-tbody">
      <tr *ngFor="let data of formdata; let idx = index">
        <td>
          <input type="text" placeholder="Key" [(ngModel)]="data.key" (keydown)="onKeyDown($event, idx)">
        </td>
        <td>
          <input type="text" placeholder="Value " [(ngModel)]="data.value" (keydown)="onKeyDown($event, idx)">
          <input type="file" multiple="" class="IKeyvalueeditor-value IKeyvalueeditor-value-file" placeholder="Value" style="display: none;">          
        </td>
        <td>
          <input type="text" placeholder="Description" [(ngModel)]="data.description" (keydown)="onKeyDown($event, idx)">
        </td>
        <td>
            <select  [(ngModel)]="data.type">
                <option value="text" selected="">Text</option>
                <option value="file">File</option>
                </select>
        </td>
        <td>
          <button type="button" class="btn btn-default" (click)="onDeleteClick(idx)" *ngIf="formdata.length-1 != idx">
            <i class="glyphicon ion-close-round"></i>
          </button>
        </td>
        <td></td>
  
      </tr>
    </tbody>
  </table>