<li (click)="onItemClick($event)" (contextmenu)="onContextMenu($event, item)">
    <div style="height:20px;display:flex;">
        <div style="flex: 0 0 42px;">
            <span class="button switch " [ngClass]="nodeClass"></span>
            <span class="button" [ngClass]="itemClass"></span>
        </div>

        <div style="flex:1;overflow:hidden; flex-direction:row">
            <span class="node_name" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap;display:block">{{item.name}}</span>
        </div>
        <div style="flex: 0 0 30px;">
            <button type="button" class="glyphicon btn btn-default btn-xxs" (click)="onEditClick($event)">
                <span class=" ion-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="glyphicon btn btn-default btn-xxs" (click)="onDeleteClick($event)">
                <span class=" ion-close-round" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <collection-group [item]="item.item" [level]="level+1" *ngIf="item.item" [path]="path+'/item'" [hidden]="!open"></collection-group>
</li>