<li #listitem class="list-item" (click)="onItemClick($event)" *ngIf="item" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)">
    <div class="item " *ngIf="item" (mouseenter)="onMouseenter($event)" (mouseleave)="onMouseleave($event)">
        <div style="flex: 0 0 22px;margin-top:3px">
            <span class="button" [ngClass]="itemClass"></span>
        </div>

        <div id="title" style="flex:1;overflow:hidden; flex-direction:row;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;
        line-height: 25px;">
            {{item.name}}
        </div>
        <div style="flex: 0 0 30px;" [hidden]="!hover">
            <button type="button" class="glyphicon btn btn-default btn-xxs" (click)="onAddlick($event)" *ngIf="isFolder()">
                <span class="ion-plus-round" aria-hidden="true"></span>
            </button>
            <button type="button" class="glyphicon btn btn-default btn-xxs" (click)="onEditClick($event)">
                <span class=" ion-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="glyphicon btn btn-default btn-xxs" (click)="onDeleteClick($event)">
                <span class=" ion-close-round" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="insert-before" (dragover)="onDragOver($event, 'before')" (drop)="onDrop($event, 'before')" (dragenter)="onDragEnter($event, 'before')"
        (dragleave)="onDragLeave($event, 'before')"></div>
    <div class="insert-after" (dragover)="onDragOver($event, 'after')" (drop)="onDrop($event, 'after')" (dragenter)="onDragEnter($event, 'after')"
        (dragleave)="onDragLeave($event, 'after')"></div>

    <collection-group  *ngIf="item.item" [item]="item.item" [path]="path+'/item'" [hidden]="!open"></collection-group>
</li>