<section id="response">
  <div id="response-waiting-container" *ngIf="response.status==-1">
    <h3>Loading...</h3>
    <button id="cancel-request" class="btn">Cancel request</button>
  </div>
  <div id="response-failed-container" *ngIf="response.status!=200 && response.status!=-1">
    <h3>Could not get any response</h3>

    <p>
      This seems to be like an error connecting to
      <span id="connection-error-url"></span>. The response status was {{response.status}}.
      <br/> Check out the
      <a href="http://www.w3.org/TR/XMLHttpRequest/#the-status-attribute" target="_blank">W3C XMLHttpRequest Level 2 spec</a> for more details about when this happens.
    </p>
  </div>
  <div id="response-success-container" [hidden]="response.status!=200">

    <div class="row">
      <div class="col-lg-12" style="    padding-right: 20px;    padding-left: 20px;">
        <ul class="nav nav-tabs">
          <li role="presentation" [ngClass]="{'active':display_response == 'headers'}">
            <a (click)="display_response='headers'">Header</a>
          </li>
          <li role="presentation" [ngClass]="{'active':display_response == 'body'}">
            <a (click)="display_response='body'">Body</a>
          </li>
          <li role="presentation" [ngClass]="{'active':display_response == 'cookies'}">
            <a (click)="display_response='cookies'">Cookies</a>
          </li>
          <li role="presentation" [ngClass]="{'active':display_response == 'examples'}">
            <a (click)="display_response='examples'">Examples</a>
          </li>
        </ul>

        <response-headers [headers]="headers" [hidden]="display_response!='headers'">

        </response-headers>
        <div [hidden]="display_response!='body'">
          <response-body [body]="body" [examples]="examples"  (saveEvent)="onResponseSaveEvent($event)"></response-body>
        </div>
        <response-cookies [headers]="headers" [hidden]="display_response!='cookies'">
        </response-cookies>

        <response-examples [examples]="examples" [path]="item.path" [hidden]="display_response!='examples'">

        </response-examples>
      </div>
    </div>

  </div>
</section>